* { margin: 0; padding: 0; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;

}


button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 0 0;
    border-radius: 30px;
    transition: background 0.3s;
    cursor: pointer;
    border-color: transparent;
}

button:hover{
    background: #563434;
}

hr{
    width: 50px;
    height: 2px;
    background-color: #ff523b;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
    color: goldenrod;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: pink;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor:pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

#bar{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

#bar:hover,
#bar.active{
    color: #fff;
}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: lightpink;
    }
    
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}

/* Mobile Nov */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#Home{
    background-image: url("Images/ok1.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3em;
}

#Home span{
    color: white;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .detail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
} 

#new .one:hover .detail{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

#new .one .detail button{
    display: inline-block;
    font-size: 14px;
    font-weight: 14px;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .detail button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* Products */

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    width: 100%;
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background: #ff523b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}


#banner{
    background-image: url("Images/background\ sum.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 60px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4{
    color: #d8d8d8; 
}

#banner h1{
    color: #fff;
}

#banner button+{
    background-color: #ff523b;
}

/*------------testimonial---------*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    width: 100%;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*--------footer---------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;  
}
.footer-col-2{
    flex: 1; 
    text-align: center; 
}
.footer-col-2 img{
    width: 180px; 
    margin-bottom: 20px; 
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;  
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    cursor: pointer;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}